#header{
    background-color: darkkhaki;
}

#main{
    background-color: lightslategray;
}

.section{
    background-color: greenyellow;
}

.div{
    background-color: aquamarine;
}
h1, h2{
    color: rgb(168, 28, 28);
}